body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.loginItemsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#addUrlDialog {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.addBtnContainer {
    display: flex;
    align-items: flex-end;
}
.textContainerStyle {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

input[type="text"], input[type="password"] {
    height: 24px;
    font-size: medium;
    margin-bottom: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleClass {
    border-bottom: 1px solid rgb(148, 148, 148);

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#saveBtn{
    margin-left: 90px;
}

#addBtn {
    margin-bottom: 50px;
}

.hide {
    display:none;
}

.show {
    display: block;
}

.card {
    background:#FFF;
    border:1px solid #AAA;
    padding:0px;
    margin:15px;
    width: 300px;
    display: flex;
}

.card2 {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px 0px #ccc;
    width: 300px;
    height: 75px;
    float: left;
    margin-right: 55px;
    margin-bottom: 25px;
}

.card2 p {
    text-align: center;
}

.cardImg {
    padding: 10px;
}

.si-glyph * {
    fill: blue;
}

